*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open sans',sans-serif;
 }

 body{
    background: linear-gradient(to bottom,var(--blue) 60%,var(--blue) 60%, var(--page-background) 50%, var(--page-background)50%);
    /* overflow: hidden; */
 }

/* Cores do site */
:root{
    --yellow: #ffcc29;
    --blue:#1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}


/* componentes do site */
.container{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

.btn{
    height: 50px;
    display: block;
    padding: 8px 64px;
    background: var(--page-background);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--blue);
    font: 600 1.125rem/1.35 'Open sans', sans-serif;
    border: 1px solid var(--blue);
    transition: 0.4s;
    text-align: center;
}

.btn-b{
    height: 50px;
    display: block;
    padding: 8px 64px;
    background: var(--blue);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--page-background);
    font: 600 1.125rem/1.35 'Open sans', sans-serif;
    transition: 0.4s;
    text-align: center;
}

.titulo{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    color: var(--page-background);
    background-color: var(--blue);
    text-align: center;
}

.titulo h1{
    padding: 60px 0;
    font: 700 3rem/1.35 'Open sans', sans-serif;
}

.pricing-table{
    padding-bottom: 40px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.card-item{
    padding: 32px 32px 32px 30px;
    margin: 30px 15px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--page-background);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
}

#free.card-item{
    height: 480px;
    width: 420px;
}

#basic.card-item{
    height: 490px;
    width: 420px;
    box-sizing: border-box;
    padding: 0;
}

#pro.card-item{
    height: 480px;
    width: 420px;
}

.card-item .card-title h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.card-item .pricing{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 2rem;
}

.card-item .price-unidade{
    font-size: 0.95rem;
}


.card-item .info{
    font-size: 1rem;
    color: var(--gray);
}

.card-item p{
    margin: 0 20px;
    padding: 25px;
    color: var(--gray);
    font-size: 14px;
    line-height: 1.5;
}

.card-item .card-b{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    gap: 134px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    border-radius: 8px 8px 0 0;
}

.card-item .content {
    padding: 0 32px;
    position: absolute;
    bottom: 32px;
}

.card-item .card-b h2{
    color: var(--blue);
}

.card-item .card-b span{
    padding: 8px 24px;
    background-color: var(--blue);
    color: var(--page-background);
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 12px;
}

.card-item:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
}


.card-item ul{
    padding: 25px;
    border-top: 1px solid var(--gray);
    text-align: left;
    list-style: none;
}

.card-item ul li{
    display: flex;
    gap: 15px;
    color: var(--gray);
}

.card-item ul li::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../img/check.svg);
    left: -20px;
}

.card-item ul li:not(:last-child){
    margin-bottom: 1em;
}

.card-item .btn:hover{
    background-color: var(--blue);
    color: var(--page-background);
}

.card-item .btn-b:hover{
    background-color: var(--page-background);
    color: var(--blue);
    border: 1px solid var(--blue);
}
